---
import Layout from '../layouts/Layout.astro';
import '@fontsource/tinos';
import '../globals.css';
---

<Layout title="Andrew Durnford">
	<main>
		<h1>Andrew Durnford</h1>
		<div class="links">
            <a
              class="iconLink"
              href="https://github.com/andrewhdurnford"
              target="_blank"
              aria-label="github link"
              ><img
                class="icon"
                src="./icons/githubicon.svg"
                height="25px"
                width="25px"
                alt="github icon"
              />
			<a
              class="iconLink"
              href="https://www.linkedin.com/in/durnford/"
              target="_blank"
              aria-label="linkedin link"
              ><img
                class="icon"
                src="./icons/linkedinicon.svg"
                height="28px"
                width="28px"
                alt="linkedin icon"
              />
            </a>
            <a
              class="iconLink"
              href="mailto:andrewhdurnford@gmail.com"
              target="_blank"
              aria-label="email link"
              ><img
                class="icon"
                src="./icons/emailicon.svg"
                height="25px"
                width="25px"
                alt="email icon"
              />
            </a>
            <a
              class="iconLink"
              href="./resume.pdf"
              target="_blank"
              aria-label="resume link"
              ><img
                class="icon"
                src="./icons/resumeicon.svg"
                height="25px"
                width="25px"
                alt="resume icon"
              />
            </a>
          </div>
		<h2>About</h2>
		<div class="about">
			I'm a second-year double degree student in Computer Science and Business Administration at Western University. 
			Focused on Full Stack Development across front-end, back-end, and mobile, as well as Machine Learning and Data Science.
		</div>
		<h2>Projects</h2>
		<ul>
			<li>
				<a href="https://www.sunflowercapital.co/" target="_blank">
				<span>Sunflower Capital — Landing page built with Next.js</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/andrewhdurnford/valPRED" target="_blank">
				<span>ValPRED — Valorant professional match predictor using Python, Pandas, Sklearn</span>
				</a>
			</li>
			<li>
				<a href="https://www.retrospect.space/" target="_blank">
				<span>Retrospect Mobile App — Swift mobile app to create and share time capsules</span>
				</a>
			</li>
			<li>
				<a href="https://www.unfollowed.lol/" target="_blank">
				<span>Unfollowed.lol — Chrome extension tracking Instagram followers & unfollowers</span>
				</a>
			</li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 700px;
		max-width: calc(100% - 8rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-family: "tinos";
		font-size: 3rem;
		font-weight: 400;
		color: #F4F4F9;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.25em;
	}
	h2 {
		font-family: "lexend";
		font-weight: 400;
		font-size: 1.5rem;
	}
	.about {
		font-family: "lexend";
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.75;
		color: #F4F4F9;
	}

	.links {
        display: flex;
    	justify-content: center;
    }

    a:link, a:visited {
        color: #F4F4F9;
        text-decoration: none;
    }

    a:hover, a:active {
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }

    .iconLink {
        transition: transform 0.25s;
        padding: 0px 10px;
        line-height: 35px;
    }

    .iconLink:hover {
        transform: scale(1.25);
    }

    .icon {
        vertical-align: middle;
        display: inline-block;
        margin: auto;
    }

	ul {
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
      }
	
	li {
		font-family: "lexend";
		font-size: 1rem;
		font-weight: 300;
		color: #F4F4F9;
		transition: transform 0.25s;
		text-decoration: none;
		line-height: 2;
	}
	li:hover {
		transform: translateX(20px);
	}
</style>
